* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 50rem;
  max-height: 50rem;
  margin: 0 auto;
  transition: all 2s;
}

.wrapper__slider {
  transition: all 2s;
}

.slider__images {
  height: 20rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: 'one two three four';
  transition: grid-template-columns 2s;
}

#one-image {
  grid-area: one;
  background-color: blue;
  transition: all 2s;
  
}

#two-image {
  grid-area: two;
  background-color: blueviolet;
}

#three-image {
  grid-area: three;
  background-color: brown;
}

#four-image {
  grid-area: four;
  background-color: green;
}



span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.5rem solid red;
  border-radius: 50%;
}

/* animation*/

#one-radio:checked ~ .wrapper__slider .slider__images {
  grid-template-columns: 100% 0% 0% 0%;
  transition: grid-template-columns 2s;
}

#two-radio:checked ~ .wrapper__slider .slider__images {
  grid-template-columns: 0% 100% 0% 0%;
  transition: grid-template-columns 2s;
}

#three-radio:checked ~ .wrapper__slider .slider__images {
  grid-template-columns: 0% 0% 100% 0%;
  transition: grid-template-columns 2s;
}

#four-radio:checked ~ .wrapper__slider .slider__images {
  grid-template-columns: 0% 0% 0% 100%;
  transition: grid-template-columns 2s;
}



@media(max-width: 420px) {
  /*.wrapper{
      gap: 0.5rem;
  }*/
}